*{
    text-align: center;
    margin: auto 0;
}
body{
    background-color: darkcyan;
}
#contact-form {
    position: relative;
    text-align: center;
    background-color: darkcyan;
    padding: 95px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
div{
    width: 500px;
    height: 500px;
    text-align: center;
    margin: auto;
    border: solid 46px black;
    background-color: aquamarine;
}
#comingSoon{
    display: inline-block;
    margin: 97px 75px;
    padding: 90px;
    border: solid 35px black;
    background-color: blueviolet;
    color: snow;
}
.nav ul li{
    display: flex;
    flex-direction: row-reverse;
    padding: 5px;
}
ul{
  display: inline-flex;
}