#contact-form {
    position: relative;
    text-align: center;
    background-color: blanchedalmond;
    padding: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

#name-input, #email-input {
    width: 70%;
}