#contact-form {
    position: relative;
    text-align: center;
    background-color: blanchedalmond;
    padding: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
div{
    width: 500px;
    height: 500px;
    text-align: center;
    margin: auto;
    border: solid 5px black;
}
.nav ul li{
    display: inline;

}